// Navbar
.navbar {
  background-color: #343a40 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &-brand img {
    border-radius: 50%;
    object-fit: cover;
  }

  .nav-link {
    color: rgba(176, 198, 231, 0.75);
    transition: color 0.3s ease-in-out;

    &:hover,
    &.active {
      color: #ffffff;
    }
  }
}